@import url('https://api.fonts.coollabs.io/css2?family=Jockey+One&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url('https://fonts.cdnfonts.com/css/sofia-pro');

* {
  margin: 0;
  padding: 0;
}

*, 
::before, 
::after {
  box-sizing: border-box;
}

:root {
  --glow-hue: 171;
  view-transition-name: none;
  
  /* Dark Variants */
  --color-pri-900: hsl(var(--glow-hue) 10% 5%);
  --color-pri-800: hsl(var(--glow-hue) 10% 10%);
  --color-pri-700: hsl(var(--glow-hue) 10% 20%);
  --color-pri-600: hsl(var(--glow-hue) 10% 25%);
  --color-pri-500: hsl(var(--glow-hue) 10% 30%);

  /* Light Variants */
  --color-sec-900: hsl(var(--glow-hue) 30% 95%);
  --color-sec-800: hsl(var(--glow-hue) 25% 85%);
  --color-sec-700: hsl(var(--glow-hue) 20% 75%);
  --color-sec-600: hsl(var(--glow-hue) 15% 65%);

  /* Accent Variants */
  --color-acc-900: hsl(var(--glow-hue) 70% 50%);
  --color-acc-800: hsl(var(--glow-hue) 70% 60%);
  --color-acc-700: hsl(var(--glow-hue) 70% 40%);

  /* Neutral Variants */
  --color-neu-900: hsl(var(--glow-hue) 10% 50%);
  --color-neu-800: hsl(var(--glow-hue) 10% 60%);

  /* Shadow & Neon Effects */
  --color-shadow-enhance: 0 0 2px hsl(var(--glow-hue) 70% 50% / 40%),
    0 0 4px hsl(var(--glow-hue) 70% 50% / 45%),
    0 0 8px hsl(var(--glow-hue) 70% 50% / 50%);
  --color-shadow-enhance-hover: 0 0 8px hsl(var(--glow-hue) 70% 70% / 40%),
    0 0 15px hsl(var(--glow-hue) 70% 70% / 45%),
    0 0 30px hsl(var(--glow-hue) 70% 70% / 50%);
  --color-shadow-neon: 0 0 2px hsl(var(--glow-hue) 70% 50% / 20%),
    0 0 4px hsl(var(--glow-hue) 70% 50% / 25%),
    0 0 8px hsl(var(--glow-hue) 70% 50% / 30%);
  --color-shadow-neon-hover: 0 0 8px hsl(var(--glow-hue) 70% 70% / 20%),
    0 0 15px hsl(var(--glow-hue) 70% 70% / 25%),
    0 0 30px hsl(var(--glow-hue) 70% 70% / 30%);
  --color-shadow-neon-inset: 
    0 0 0 1px hsl(var(--glow-hue) 70% 50% / 30%),
    0 0 2px hsl(var(--glow-hue) 70% 50% / 25%),
    0 0 4px hsl(var(--glow-hue) 70% 50% / 20%),
    0 0 8px hsl(var(--glow-hue) 70% 50% / 30%),
    inset 0 0 2px hsl(var(--glow-hue) 70% 50% / 25%),
    inset 0 0 4px hsl(var(--glow-hue) 70% 50% / 20%),
    inset 0 0 8px hsl(var(--glow-hue) 70% 50% / 30%);
  --color-shadow-neon-inset-hover: 
    0 0 0 1px hsl(var(--glow-hue) 100% 100% / 30%),
    0 0 4px hsl(var(--glow-hue) 100% 70% / 25%),
    0 0 8px hsl(var(--glow-hue) 100% 70% / 20%),
    0 0 12px hsl(var(--glow-hue) 100% 70% / 30%),
    inset 0 0 4px hsl(var(--glow-hue) 100% 70% / 25%),
    inset 0 0 8px hsl(var(--glow-hue) 100% 70% / 20%),
    inset 0 0 12px hsl(var(--glow-hue) 100% 70% / 30%);
   
  --clr-intu-gold-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-green-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-main-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-accent-1: hsl(42, 62.5%, 55.9%);
}

body {
  background: var(--color-pri-800);
  font-family: 'Jockey One', sans-serif;
  view-transition-name: body;
/*   overflow-x: hidden; */
}

nav {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  justify-self: left;
  margin-right: .75rem;
}

.logo-text {
  font-size: 1.5rem;
  color: var(--clr-intu-gold-1);
  color: var(--clr-intu-accent-1);
/* background-image: linear-gradient( to bottom, #000 10%, hsla(244.9,100%,26.3%, .6));    color: #fff;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
/*   grid-columns: 3 / -1; */
  width: 40px;
  height: 40px;
  justify-self: right;
  cursor: pointer;
  transition: all .5s ease-in-out;
/*   border: 1px solid white;   */
}

.menu-btn__burger {
  width: 20px;
  height: 2px;
  background: #fff;
  background: hsl(42, 62.5%, 39.2%);
  background: var(--clr-intu-accent-1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before, 
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #fff;
  background: hsl(42, 62.5%, 39.2%);
  background: var(--clr-intu-accent-1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out; 
}

.menu-btn__burger::before {
  transform: translateY(-6px);
}

.menu-btn__burger::after {
  transform: translateY(6px);
}

/* Animation Phase */

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media (min-width: 396px) {
  .menu-btn__burger {
    background: hsl(43.8, 0%, 85.4%);
  }
  .menu-btn__burger::before, 
  .menu-btn__burger::after {
    background: hsl(43.8, 0%, 85.4%);
  }
}

@media (min-width: 470px) {
  .menu-btn__burger {
    background: var(--clr-intu-accent-1);
  }
  .menu-btn__burger::before, 
  .menu-btn__burger::after {
    background: var(--clr-intu-accent-1);
  }
}


.site--hero {
  positition: relative;
  container-name: hero;
  container-type: inline-size;
  margin-top: -80px;
}

.site--hero .container {
  position: relative;
  overflow: hidden;
  width: 100%;
  /*   position: absolute; */
  /* display: flex;
  justify-content: center;
  justify-content: flex-start;
  align-items: center; */
}

.container::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #000 20%, transparent 60%);
  /* background-image: linear-gradient(to left, #000 25%, transparent 50%); */
}

@media (min-width: 32.75rem) {  /* 524px */
  .container::after {
    background-image: linear-gradient(to left, #000 30%, transparent 70%);
  }
}

@media (min-width: 48rem) {  /* 768px */
  .container::after {
    background-image: linear-gradient(to left, #000 36%, transparent 80%);
  }
}

@media (min-width: 55.25rem) {  /* 524px */
  .container::after {
    background-image: linear-gradient(to left, #000 40%, transparent 80%);
  }
}

@media (min-width: 64rem) {  /* 524px */
  .container::after {
    background-image: linear-gradient(to left, #000 70%, transparent 80%);
  }
}

.container img {
  display: block;
  object-fit: cover;
}

/* 
.container .content {
  position: absolute;
  border: 1px solid #c0c0c0;
}
 */

.content--wrap {
  position: absolute;
  container: main / inline-size;
  width: 100%;
  top: 35%;
  left: 0;
/*   bottom: 0; */
  display: flex;
  align-items: center;
  color: #c0c0c0;
  /*   justify-content: center; */
  /*   padding-bottom: 4rem; */
}

@media (max-width: 768px) {
  .content--wrap {
    top: 35%;
/*     bottom: 0; */
  }
}

.container .content {
  color: #c0c0c0;
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-around;
  gap: .25rem;
  /* padding-left: 26px; */
  /* transform: translateX(37px); */
}

.container .content > * {
/*   border: 0.025rem solid firebrick;   */
}

.container .content h1 {
  color: #c0c0c0;
  color: hsl(0,0%,92%);
/*   color: var(--color-sec-900); */
  font-size: clamp(2.5rem, (2rem + 5vw), 5.375rem);
  line-height: 1.2;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  /*   font-size: 86px; */
    margin-bottom: .2rem;
  /*   text-align: center; */
}

.container .content p {
  width: 55ch;
  color: hsl(43.8, 0%, 85.4%);
}

/* 
.container .content .meta--social-icon {
  align-self: flex-end;
  transform: translateX(-8px);
}
 */


.link-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 315px;
  width: 100%;
  margin: 0 auto;
  mask-image: linear-gradient(to bottom, transparent, #000);
  -webkit-mask-image: linear-gradient(to bottom, transparent 46%, #000 65%);
  order: 1;
  transform: translateY(30px);
  z-index: 999;
}

.triggers {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 150px;
  padding: 0 8px;
  transition: all .5s ease-in-out;
  /*   align-items: flex-end; */
  /*   transform: translate(0, 30px); */
  /*     transform: translateY(-30px); */
}

.link-wrap ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #c9c9c9;
  color: #fff;
/*   border-bottom: 1px solid hsla(132, 100%, 18%, .4); */
  list-style: none;
  line-height: 1;
  height: 30px;
  padding: 8px 0;
  text-align: left;
/*   flex: 1 1 100%; */
/*   border: 0.025rem solid firebrick;   */
  /*margin-bottom: .3rem;*/
/*   
  
  mask-image: linear-gradient(
    90deg,
    transparent,
    #000 15%,
    #000 85%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent,
    #000 15%,
    #000 85%,
    transparent 100%
  );
  */
}

.link-wrap ul li:nth-last-child(-n+1) {
  margin-bottom: .15rem;
  border-bottom: 1px solid hsla(132, 100%, 18%, .4);  
/*   border: 0.025rem solid firebrick;   */
}

.link-wrap ul li.showing {
  opacity: 0;
  animation: linkShowing 1.3s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

.link-wrap ul li span {
  display: inline-block;
  margin-inline: 6px auto;
  font-family: 'Lato';
  font-size: 12px;
/*   font-size: .9rem; */
}
.link-wrap ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 90px;
/*   flex: 0 0 120px; */
  background-color: transparent;
  border: 1px solid #c0c0c0;
  border-radius: 50px;    
  color: inherit;
  text-decoration: none;
  font-family: 'Lato';
  /*    font-family: 'Lato';*/
  font-size: .65rem;
/*   font-size: .85rem; */
  margin-left: .5rem;
  padding: 6px 12px;
  transition: all .5s ease-in-out;
}

.link-wrap ul li:not(:nth-of-type(4)) a {
  pointer-events: none;
}

.link-wrap ul li a:hover {
  color: #000;
  background-color: #c0c0c0;
}

.link-wrap ul li:first-of-type a {
  pointer-events: none;
}



@container main (max-width: 29.375rem) {
  .container .content {
    width: 100%;
    gap: 2rem;
  }
  .container .content h1 {
    text-align: center;
  }
  .container .content p {
    width: 43ch;
    font-size: .9rem;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 6rem;
    align-self: center;
    order: 1;
    padding: .5rem 1rem 0;
  }
  .container .content .meta--social-icon {
    align-self: center;
  }
  .link-wrap {
    transform: translateY(-108px);    
  }
}

.intu-underlined {
  text-decoration: underline;
/*   color: var(--clr-intu-main-1); */
}

.container .list-items {
  position: absolute;
  top: 8.5%;
  right: 50px;  
  display: none;
/*   display: flex; */
  flex-direction: column;
  gap: 2px;
  list-style: none;
}

@media (min-width: 768px) {
  .container .list-items {
    display: flex;
  }
}

.container .list-items li {
  color: #c0c0c0;
  padding: 0;
  font-size: 24px;
  line-height: 1;
  margin-bottom: .1rem;
}

.container .list-items li a {
  color: inherit;
  color: currentColor;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

.container .list-items li a:hover {
  color: #fff;
  color: var(--clr-intu-gold-1);
}

.container > * {
  z-index: 1;
}

.creatives {
  container: gridContent / inline-size;
  position: relative;
  width: 100%;
  padding: .75rem;
  background-color: #000;
background-image: linear-gradient(to top, rgba(34, 34, 61, 0.85), rgba(0, 0, 0, 0.9)), url('https://ik.imagekit.io/ghow2otb3rc/rebirthofthegriot/media/tumblr_195698382fa906229ede8cec533791a4_7677d440_1280_kkz-ER4Vt.jpg');
  background-position: center center;
  background-size: 300%;
  background-repeat: no-repeat;  
/*   border: 1px solid firebrick; */
}

.creatives header {
/*   width: 100%; */
  display: grid;
  flex-direction: column;
  margin-bottom: 3rem;
  padding-top: 2rem;
/*   text-align: right; */
/*   font-size: 2.5rem; */
/*   border: 1px solid hsla(0,0%,22%, .6); */
/*   border-radius: 12px; */
}

.creatives header h1 {
  font-size: clamp(1.5rem, (1rem + 5vw), 3.775rem);
  color: var(--clr-intu-gold-1);
  line-height: .9;
  margin-bottom: 2.75rem;
}

.creatives header p {
  width: 30ch;
  font-size: 1.55rem;
  font-size: clamp(.7rem, (.8rem + 2vw), 1.55rem);
  font-size: 1.05rem;
/*   font-size: .75rem;
  font-size: clamp(0.75rem, (1rem + 2vw), 1.55rem); */
  line-height: 1.1;
  justify-self: end;
/*   background-color: #c0c0c0; */
background: url(https://images.unsplash.com/photo-1507880572231-f85401ce76e6?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
/* background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi"); */
/*     background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi"); /* The least supported option. */
    background-size: cover;
    color: #fff;
    color: hsl(90.6,54.8%,36.5%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
/*   margin-bottom: 4rem;
  border: 1px solid firebrick; */
}

.creatives .content {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  /*   display: flex; */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto repeat(3, 40px);
  gap: 10px;
/*   flex-direction: column; */
/*   text-align: right; */
/*   padding-bottom: 5.5rem; */
/*   border: 1px solid firebrick; */
}

.creatives .content > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.creatives .content p {
  position: relative;
  color: #c0c0c0;
/*   font-size: 1.6rem; */
  color: hsl(43.8, 0%, 85.4%);
  width: 100%;
  grid-column: 4 / -1;
  grid-row: 1;
/*   grid-row: 2; */
/*   text-align: right; */
  align-self: end;
  justify-self: right;
/*   align-self: end; */
  z-index: 10;
}

.creatives .content .img--creative {
  position: relative;
  width: 100%;
  min-width: 316px;
  grid-column: 1 / 6;
  grid-row: 1;
  border-radius: 6px;
  margin: 0 auto;
/*   box-shadow: rgba(250, 250, 250, 0.16) 0px 10px 36px 0px, rgba(250, 250, 250, 0.06) 0px 0px 0px 1px; */
}

.creatives .content .img--creative img {
  max-width: 100%;
  height: auto;
  display: block;
/*   aspect-ratio: 16 / 9; */
  object-fit: cover;
  border-radius: 9px;
/*   opacity: .6; */
}

.creatives .content .img--creative::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .2);
  background-image: linear-gradient( to top, #000 2%, hsla(244.9,100%,26.3%, .01) 40%);
}
/*   box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */

@container grid-content (max-width: 470px) {
  .content .img--creative {
    grid-column: 1 / -1;
  }
}

.main-text {
  color: #c0c0c0;
  background-color: #000;
}

.main-text--wrap {
  padding: 3rem 1rem;
  background-color: #222;
  color: #c0c0c0;
/*   background-color:hsla(0,14%,94%,1); */
/*   background-image:
  radial-gradient(at 77% 88%, hsla(27,100%,84%,1) 0px, transparent 50%),
  radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
  radial-gradient(at 90% 24%, hsla(340,20%,88%,1) 0px, transparent 50%),
  radial-gradient(at 0% 100%, hsla(22,20%,89%,1) 0px, transparent 50%),
  radial-gradient(at 6% 8%, hsla(343,23%,95%,1) 0px, transparent 50%); */
  background: radial-gradient(
    circle at left top,
    #107667ed 0%,
    #000000 7%,
    #000000 10%
  );  
}

.main-text--wrap h1 {
  font-size: 3.775rem;
}

.main-text--wrap > p:last-of-type {
/*   outline: 1px solid firebrick; */
  margin-bottom: 2.5rem;
}

.main-text--wrap .bg-watermark-head {
/*   text-align: center; */
/*   margin-bottom: -1.75rem; */
}

.main-text--wrap .bg-watermark-head bg--wm-header {
/*   margin-bottom: 2rem; */
}

.main-text--wrap .bg-watermark-head p {
  color: hsl(43.8, 0%, 17.9%);
/*   color: hsla(107, 98%, 14%, .3); */
/*   color: hsl(43.8, 0%, 30.1%); */
  font-size: clamp(1.1333rem, 1.6rem + 12.9333vw, 6rem);
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: .3rem;
}

.alt-hero {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url('https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/cbc029ab57a8495195bf6b4061e2cb2f_Qgk527FNL.jpg');
/*   background-size: 150%; */
/*   background-position: -400px -1700px; */
  background-position: center;
  background-repeat: no-repeat;
/*   opacity: .7; */
}

.alt-hero::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient( to top, #000 1%, hsla(244.9,100%,26.3%, .3) 80%);
}

footer {
  position: relative;
/*   padding-top: 4rem; */
/*   border: 1px solid #c0c0c0; */
}

.footer--container {
  position: relative;
/*   height: 55vh; */
/*   opacity: .6; */
background-color:hsla(0,4%,9%,1);
/* background-image:
radial-gradient(at 45% 35%, hsla(117,50%,24%,1) 0px, transparent 50%),
radial-gradient(at 71% 58%, hsla(41,62%,55%,1) 0px, transparent 50%); */
  background: radial-gradient(
    ellipse at right top,
    #107667ed 0%,
    #151419 47%,
    #151419 100%
  );
  padding-top: 1rem;
/*   border: 1px solid #c0c0c0; */
}

.footer--container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-columns: 40% repeat(2, 1fr);
  grid-template-columns: 1fr;
  gap: 12px;
  padding: 0 .5rem;
}

.meta--content {
  position: relative;
  grid-column: 1 / -1;
/*   border: 1px solid firebrick; */
  width: 100%;
}

.meta--content p {
  font-family: 'Sofia Pro';
  font-size: .875rem;
  line-height: 1.1;
  color: hsl(43.8, 0%, 75.3%);
  color: #fff;
  margin-bottom: 1.3rem;
}

.meta--content-icons {
  display: flex;
/*   justify-content: center; */
  gap: 1.5rem;
}

.footer-content p {
  color: hsl(43.8, 0%, 75.3%);
}

.footer-content ul {
  list-style-type: none;
}

.footer-content ul:nth-of-type(1) {
  position: relative;
  width: 100%;
  
  align-self: end;
  justify-self: end;
}

.footer-content ul li {
  color: var(--clr-intu-accent-1);
}

.footer-content ul li a {
  text-decoration: none;
  color: inherit;
}

.link--content {
  position: relative;
  display: flex;
  gap: 2.6rem;
  gap: 1.6rem;
/*   border: 1px solid firebrick; */
/*   grid-row: 2; */
  align-self: center;
}

.link--content ul li a {
  text-decoration: none;
  color: hsl(43.8, 0%, 75.3%);
  transition: color 300ms ease-in-out;
}

.link--content ul li a:hover {
  color: hsl(42, 62.5%, 55.9%);
}

footer .dev--copyright {
  display: flex;
  align-items: center;
  gap: .25rem;
  font-family: 'Sofia Pro';
  font-size: .75rem;
  padding: .25rem .6rem;
}

/* Mobile Device Menu Setting */

.mbl--list-items {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 25% 0;
  align-items: center;
  z-index: 5;
  transform: translateX(100%);
/*   background-color: hsla(222, 23%, 20%, 4); */
}

.mbl--list-items li {
  text-align: left;
  font-size: clamp(.85rem, (1.2rem + 2vw), 3.5rem);
  line-height: 1;
  color: hsl(43.8, 0%, 85.4%);
 }

.mbl--list-items li a {
  text-decoration: none;
  color: inherit;
  color: currentColor;
  transition: color .3s ease-in-out;
}

.mbl--list-items li a:hover {
  color: var(--clr-intu-gold-1);  
}

.mbl--list-items.showing {
  animation: menuSliderAction 300ms linear forwards;
/*   transform: translateX(0);   */
}

.mlb--list-items > * {
  z-index: 1;
}

.mbl--list-items::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(40, 47, 64, .9);
  background-color: hsla(113, 61%, 16%, .9);
  background-color: hsla(222, 23%, 20%, .9);
  z-index: -1;
}


@keyframes menuSliderAction {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


/* 
@container grid-content (min-width: 30rem) {
  .creatives .content {
    grid-template-columms: 1fr;
  }
  .creatives .content p {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}
 */
@media (max-width: 470px) {
  .container img {
    object-fit: cover;
    object-position: center;
    transform: translateX(-80px);
  }
  .container::after {
    background-image: linear-gradient(to top, #000 25%, transparent 80%);  
  }
}

@media (max-width: 768px) {
  .container .list-items {
    display: none;
  }
/*   .container .content h1 {
    text-align: center;
    border: 1px solid white;
  }
  .container .content .meta--social-icon {
    align-self: center;
  }   */
}

/* Google chrome */
@-webkit-keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #c0c0c0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #c0c0c0;
  }

}
/* Most browsers */
@keyframes svg-text-anim {
  40% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: #c0c0c0;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #c0c0c0;
  }

}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

@keyframes linkShowing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyfrmaes tickerMoveUp {
  to {
    transform: translate(0, -30px);
  }
}

.join-cta--wrap {
  display: grid;
  place-items: center;
  padding-block: 1.5rem;
/*   margin-top: 2.5rem; */
}

/* Buttons */
.btn {
  align-items: center;
  background-color: var(--color-pri-900);
  border: 0;
  border-radius: .5rem;
  border-radius: 3.125rem;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  gap: .5rem;
  justify-content: center;
  line-height: 1;
  padding: .5em 1em;
}

.btn--lg {
  font-size: 1.2rem;
  font-weight: bold;
  padding-inline: 1.5rem;
}

/* Effects & Hover States */
.neon-shadow {
  box-shadow: var(--color-shadow-enhance);
  transition: all 0.3s ease;
}

.neon-shadow:hover {
  box-shadow: var(--color-shadow-enhance-hover);
}

.neon-shadow-inset {
  box-shadow: var(--color-shadow-neon-inset);
  transition: all 0.3s ease;
}

.neon-shadow-inset:hover {
  box-shadow: var(--color-shadow-neon-inset-hover);
}

/* Icons */
.icon {
  fill: currentColor;
  width: 1.5rem;
}

.cta-link {
  text-decoration: none;
  color: currentColor;
}

[data-theme=dark] {
  color-scheme: dark only;
}
[data-theme=light],
html {
  color-scheme: dark only;
}

/*
@media (prefers-color-scheme: dark) {
  color-scheme: dark only;
}
*/

@media (prefers-color-scheme: dark) {
  color-scheme: dark only;
}

[aria-pressed=true] path:nth-of-type(1) {
  display: none;
}
[aria-pressed=false] path:nth-of-type(2) {
  display: none;
}

nav svg {
  width: 40px;
  position: absolute;
  right: 3px;
  top: -1px;
  height: 40px;
  scale: 1.5 1.5;
  transform-origin: 100% 100%;
  rotate: 25deg;
  fill: canvasText;
  fill: hsl(42, 62.5%, 39.2%);
  translate: 18% 16%;
  margin-right: 16px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[aria-pressed] {
  position: absolute;
  top: 1rem;
  right: 3rem;
  width: 28px;
  aspect-ratio: 1;
  padding: 0;
  border: 0;
  margin: 0;
  display: grid;
  place-items: center;
  border-radius: 4px;
  transition: background 0.2;
  cursor: pointer;
  background-color: color-mix(in lch, canvas, canvasText calc(var(--intent) * 15%));
/*   border: 1px solid firebrick; */
}

button svg {
  width: 50%;
}

button:is(:focus-visible, :hover) {
  --intent: 1;
}

main {
  width: 600px;
  max-width: calc(100% - 2rem);
}


.fixed img {
	height: 100%;
	width: 150%;
	object-fit: cover;
	z-index: -1;
	position: absolute;
	inset: 0;
	left: 50%;
	translate: -50% 0;
	filter: brightness(0.5);
}
