@import url('https://api.fonts.coollabs.io/css2?family=Jockey+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

*, 
::before, 
::after {
  box-sizing: border-box;
}

:root {
  --clr-intu-gold-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-green-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-main-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-accent-1: hsl(42, 62.5%, 55.9%);
}

body {
  font-family: 'Jockey One';
}

nav {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px;
  padding: 5px 10px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  justify-self: left;
  margin-right: .75rem;
}

.logo-text {
  font-size: 1.5rem;
  color: var(--clr-intu-accent-1);
/* background-image: linear-gradient( to bottom, #000 10%, hsla(244.9,100%,26.3%, .6));    color: #fff;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
/*   grid-columns: 3 / -1; */
  width: 40px;
  height: 40px;
  justify-self: right;
  cursor: pointer;
  transition: all .5s ease-in-out;
/*   border: 1px solid white;   */
}

.menu-btn__burger {
  width: 20px;
  height: 2px;
  background: hsl(42, 62.5%, 55.9%);
  /* background: hsl(42, 62.5%, 39.2%); */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before, 
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: hsl(42, 62.5%, 55.9%);
  /* background: hsl(42, 62.5%, 39.2%); */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out; 
}

.menu-btn__burger::before {
  transform: translateY(-6px);
}

.menu-btn__burger::after {
  transform: translateY(6px);
}

/* Animation Phase */

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.site--hero {
  position: relative;
  container-name: hero;
  container-type: inline-size;
  margin-top: -80px;
}

.site--hero .container {
  position: relative;
/*   position: absolute; */
/*   display: flex;
  justify-content: center;
  justify-content: flex-start;
  align-items: center; */
  width: 100%;
/*   border: 1px solid #c0c0c0; */
}

.container::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, #000 60%, transparent 80%);
/*   background-image: linear-gradient(to left, #000 35%, transparent 60%);
   */
}

@media (min-width: 41.25rem) {
  .container::after {
    background-image: linear-gradient(to left, #000 30%, transparent 70%);
  }
}

@media (min-width: 48rem) {
  .container::after {
    background-image: linear-gradient(to left, #000 40%, transparent 80%);
  }
}

@media (min-width: 56.25rem) {
  .container::after {
    background-image: linear-gradient(to left, #000 50%, transparent 80%);
  }
}

@media (min-width: 64rem) {
  .container::after {
    background-image: linear-gradient(to left, #000 60%, transparent 80%);
  }
}
/* 
@media (min-width: 64rem) {
  .container::after {
    background-image: linear-gradient(to left, #000 60%, transparent 90%);
  }
} */

/*
@media (min-width: 64rem) {
  .container::after {
    background-image: linear-gradient(to left, #000 35%, transparent 60%);
  }
}
 */
.container img {
  display: block;
}
/* 
.container .content {
  position: absolute;
  border: 1px solid #c0c0c0;
}
 */
.content--wrap {
  position: absolute;
  container: main / inline-size;
  width: 100%;
  top: 35%;
  left: 0;
  display: flex;
  align-items: center;
/*   justify-content: center; */
  color: #c0c0c0;
}

@media (max-width: 768px) {
  .content--wrap {
    top: 35%;
  }
}

.container .content {
  color: #c0c0c0;
/*   padding-left: 26px; */
/*   border: 0.025rem solid firebrick; */
/*   transform: translateX(37px); */
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container .content h1 {
  color: #c0c0c0;
  color: hsl(0,0%,92%);
/*   font-size: 86px; */
  font-size: clamp(2.5rem, (2rem + 5vw), 5.375rem);
  line-height: 1.2;
  margin-bottom: .2rem;
/*   text-align: center; */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.container .content p {
  width: 55ch;
}

@container main (max-width: 29.375rem) {
  .container .content {
    width: 100%;
  }
  .container .content h1 {
    text-align: center;
  }
  .container .content p {
    width: 43ch;
    font-size: .9rem;
    line-height: 1.2;
    margin-bottom: 6rem;
    align-self: center;
    order: 1;
    padding: 0 1rem;
  }
  .container .content .meta--social-icon {
    align-self: center;
  }
}

.intu-underlined {
  text-decoration: underline;
/*   color: var(--clr-intu-main-1); */
}

.container .list-items {
  position: absolute;
  top: 8.5%;
  right: 50px;  
  display: none;
/*   display: flex; */
  flex-direction: column;
  gap: 2px;
  list-style: none;
}

@media (min-width: 768px) {
  .container .list-items {
    display: flex;
  }
}

.container .list-items li {
  color: #c0c0c0;
  padding: 0;
  font-size: 24px;
  line-height: 1;
  margin-bottom: .1rem;
}

.container .list-items li a {
  color: inherit;
  color: currentColor;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

.container .list-items li a:hover {
  color: #fff;
  color: var(--clr-intu-gold-1);
}

.container > * {
  z-index: 1;
}

.creatives {
  width: 100%;
  padding: .75rem;
  background-color: #000;
  background-image: linear-gradient(to top, rgba(34, 34, 61, 0.85), rgba(0, 0, 0, 0.9)), url('https://ik.imagekit.io/ghow2otb3rc/rebirthofthegriot/media/tumblr_195698382fa906229ede8cec533791a4_7677d440_1280_kkz-ER4Vt.jpg');
  background-position: center center;
  background-size: 300%;
  background-repeat: no-repeat;  
/*   border: 1px solid black; */
}

.creatives header {
/*   width: 100%; */
  display: grid;
  flex-direction: column;
  margin-bottom: 3rem;
/*   text-align: right; */
/*   font-size: 2.5rem; */
  border: 1px solid hsla(0,0%,22%, .6);
  border-radius: 12px;
}

.creatives header h1 {
  font-size: clamp(1.5rem, (1rem + 5vw), 3.775rem);
  color: var(--clr-intu-accent-1);
  line-height: .9;
  margin-bottom: 2.75rem;
}

.creatives header p {
  width: 30ch;
  /* font-size: 1.55rem; */
  font-size: clamp(.7rem, (.8rem + 2vw), 1.55rem);
  line-height: 1.1;
  justify-self: end;
/*   background-color: #c0c0c0; */
background: url(https://images.unsplash.com/photo-1507880572231-f85401ce76e6?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
/* background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi"); */
/*     background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi"); /* The least supported option. */
    background-size: cover;
    color: #fff;
    color: hsl(90.6,54.8%,36.5%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.creatives .content {
  container: grid-content / inline-size;
  position: relative;
  max-width: 90%;
  margin: 0 auto;
  /*   display: flex; */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto repeat(3, 40px);
  gap: 10px;
}

.creatives .content p {
  position: relative;
  color: #c0c0c0;
  color: hsl(43.8, 0%, 85.4%);
  width: 100%;
  grid-column: 4 / -1;
  grid-row: 1;
/*   grid-row: 2; */
  text-align: right;
  align-self: center;
/*   align-self: end; */
  z-index: 10;
}

.creatives .content .img--creative {
  position: relative;
  width: 100%;
  grid-column: 1 / 6;
  grid-row: 1;
  border-radius: 6px;
/*   z-index: -1; */
/*   box-shadow: rgba(250, 250, 250, 0.16) 0px 10px 36px 0px, rgba(250, 250, 250, 0.06) 0px 0px 0px 1px; */
}

.creatives .content .img--creative img {
  max-width: 100%;
  height: auto;
  display: block;
/*   opacity: .6; */
}

.creatives .content .img--creative::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  background-image: linear-gradient( to top, #000 0%, hsla(244.9,100%,26.3%, .3));
}

.main-text {
  color: #c0c0c0;
  background-color: #000;
}

.main-text--wrap {
  padding: 3rem 1rem;
  background-color: #222;
  color: #c0c0c0;
/*   background-color:hsla(0,14%,94%,1); */
/*   background-image:
  radial-gradient(at 77% 88%, hsla(27,100%,84%,1) 0px, transparent 50%),
  radial-gradient(at 0% 50%, hsla(355,100%,93%,1) 0px, transparent 50%),
  radial-gradient(at 90% 24%, hsla(340,20%,88%,1) 0px, transparent 50%),
  radial-gradient(at 0% 100%, hsla(22,20%,89%,1) 0px, transparent 50%),
  radial-gradient(at 6% 8%, hsla(343,23%,95%,1) 0px, transparent 50%); */
}

.main-text--wrap h1 {
  font-size: 3.775rem;
}

.alt-hero {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url('https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/cbc029ab57a8495195bf6b4061e2cb2f_Qgk527FNL.jpg');
/*   background-size: 150%; */
/*   background-position: -400px -1700px; */
  background-position: center;
  background-repeat: no-repeat;
/*   opacity: .7; */
}

.alt-hero::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient( to top, #000 1%, hsla(244.9,100%,26.3%, .3) 80%);
}

footer {
  position: relative;
/*   padding-top: 4rem; */
/*   border: 1px solid #c0c0c0; */
}

.footer--container {
  position: relative;
  height: 55vh;
/*   opacity: .6; */
background-color:hsla(0,4%,9%,1);
background-image:
radial-gradient(at 45% 35%, hsla(117,50%,24%,1) 0px, transparent 50%),
radial-gradient(at 71% 58%, hsla(41,62%,55%,1) 0px, transparent 50%);
  padding-top:2rem;
/*   border: 1px solid #c0c0c0; */
}

.footer--container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

/* Mobile Device Menu Setting */

.mbl--list-items {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 25% 0;
  align-items: center;
  z-index: 5;
  transform: translateX(100%);
/*   background-color: hsla(222, 23%, 20%, 4); */
}

.mbl--list-items li {
  text-align: left;
  font-size: clamp(.85rem, (1.2rem + 2vw), 3.5rem);
  line-height: 1;
  color: hsl(43.8, 0%, 85.4%);
 }

.mbl--list-items li a {
  text-decoration: none;
  color: inherit;
  color: currentColor;
  transition: color .3s ease-in-out;
}

.mbl--list-items li a:hover {
  color: var(--clr-intu-gold-1);  
}

.mbl--list-items.showing {
  animation: menuSliderAction 300ms linear forwards;
/*   transform: translateX(0);   */
}

.mlb--list-items > * {
  z-index: 1;
}

.mbl--list-items::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(40, 47, 64, .9);
  background-color: hsla(113, 61%, 16%, .9);
  background-color: hsla(222, 23%, 20%, .9);
  z-index: -1;
}

@keyframes menuSliderAction {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 470px) {
  .container img {
    object-fit: cover;
    object-position: center;
    transform: translateX(-80px);
  }
  .container::after {
    background-image: linear-gradient(to top, #000 25%, transparent 80%);  
  }
}

@media (max-width: 768px) {
  .container .list-items {
    display: none;
  }
}
