@import url('https://api.fonts.coollabs.io/css2?family=Jockey+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/sofia-pro');


* {
  margin: 0;
  padding: 0
}

:root {
  --clr-intu-gold-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-gold-2: hsl(42, 62.5%, 55.9%);
  --clr-intu-gold-3: hsl(42, 62.5%, 62.6%);
  --clr-intu-green-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-main-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-accent-1: hsl(42, 62.5%, 55.9%);
}

body {
/*   padding: 3.5rem 0; */
  font-family: 'Jockey One';
}

header.-hidden {
  transform: translateY(-100%);
}

.headerDown {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.intuvenus--header {
/*   background-color: #00020e;
  background-color: rgba(0, 2, 14, .55); */
  background: transparent;
  backdrop-filter: blur(12px);
/*   border-bottom: .025rem solid #b9661f; */
  -webkit-transition: -webkit-transform 500ms ease-out;
  /* transition: -webkit-transform 500ms ease-out; */
  /* transition: transform 500ms ease-out; */
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

nav {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  padding: 10px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}
