@import url('https://api.fonts.coollabs.io/css2?family=Jockey+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/sofia-pro');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0
}

:root {
  --glow-hue: 171;
  
  --clr-intu-gold-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-gold-2: hsl(42, 62.5%, 55.9%);
  --clr-intu-gold-3: hsl(42, 62.5%, 62.6%);
  --clr-intu-green-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-main-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-accent-1: hsl(42, 62.5%, 55.9%);
  --space: 1rem;
  --space-md: calc(var(--space) * 2);
  --content-max-width: 60ch;
  --clr-text-light: hsl(0,0%,75.3%); /* Hex Value - #c0c0c0; */
}

body {
/*   padding: 3.5rem 0; */
  font-family: 'Jockey One';
}

header.-hidden {
  transform: translateY(-100%);
}

.headerDown {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.intuvenus--header {
/*   background-color: #00020e;
  background-color: rgba(0, 2, 14, .55); */
/*   border-bottom: .025rem solid #b9661f; */
  -webkit-transition: -webkit-transform 500ms ease-out;
  background: transparent;
  backdrop-filter: blur(12px);
  /* transition: -webkit-transform 500ms ease-out; */
  /* transition: transform 500ms ease-out; */
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

nav {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  padding: 10px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

logo {
  justify-self: left;
  margin-right: .75rem;
  /* padding-left: 1.45rem; */
/*   padding-left: .25rem; /* At 320px viewport width */
/*   padding-left: 0.015625vw; */
/*   border: 1px solid black; */
}

.logo-text {
  font-size: 1.5rem;
  /* color: var(--clr-intu-gold-1); */
  color: var(--clr-intu-accent-1);
/* background-image: linear-gradient( to bottom, #000 10%, hsla(244.9,100%,26.3%, .6));    color: #fff;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
/*   grid-columns: 3 / -1; */
  width: 40px;
  height: 40px;
  justify-self: right;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn__burger {
  width: 20px;
  height: 2px;
  background: #fff;
  background: hsl(42, 62.5%, 39.2%);
  background: var(--clr-intu-accent-1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before, 
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #fff;
  background: hsl(42, 62.5%, 39.2%);
  background: var(--clr-intu-accent-1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out; 
}

.menu-btn__burger::before {
  transform: translateY(-6px);
}

.menu-btn__burger::after {
  transform: translateY(6px);
}

/* Animation Phase */

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.intu--page-title {
  display: none;
}

.header {
  position: relative;
  display: grid;
  container: main / inline-size;
/*   height: 50vh; */
  height: 410px;
  height: 380px;/*   height: 500px; */
  background-image: url(https://ik.imagekit.io/ghow2otb3rc/Projects/intUVenus/MekAhStep/IMG-20240714-WA0036_Dr88tAiGv.jpg);
  background-position: center -90px;
  background-position: 47.5% center; /* Centers at X -225px, at viewport width: 360px */
  background-size: 250%;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.header::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.8) 80%);
}
/* The progress container (grey background) */
.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  z-index: 100;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 2px;
  background: #fab800;
  width: 0%;
}

.header > * {
  z-index: 1;
}

.header .header--content-grid {
  display: grid;
  container: content-grid / inline-size;
  padding: 1.5rem;
}

.header--content-grid > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.header--content-grid article.title--header {
  display: grid;
  grid-template-columns: 1fr;
  align-self: start;
/*   border: 1px solid firebrick; */
}

.header--content-grid article.title--header h2 {
  font-family: 'Jockey One';
  font-size: clamp(2.2rem, 5vw, 4.5rem);
  line-height: 1;
  color: hsl(45, 28.6%, 97.3%);
  margin-top: 2rem;
  text-transform: uppercase;
  justify-self: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.015rem;
/*   transform: translateX(-12px); */
}

.header--content-grid article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 1fr;
  color: #000;
  font-family: 'Jockey One';
  font-size: 32px; 
  align-self: end;
/*   margin-bottom: 2rem;
  margin-bottom: 1rem; */
}

.header--content-grid article p {
  width: 40ch;
  color: hsl(45, 28.6%, 97.3%);
  font-size: 1.45rem;
  font-size: 1rem;
  font-size: clamp(.9rem, 3vw, 1.15rem);
  line-height: 1.1;
  justify-self: center;
  align-self: end;
  transform: translateY(10px);
}

.header--content-grid article .meta--social-icon {
  list-style: none; 
  display: flex; 
  gap: 20px; 	
  justify-self: center;
}

@container content-grid (min-width: 512px) {
  article {
    padding: 0 1.5rem;
  }
  .header--content-grid article.title--header h2 {
    justify-self: start;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    letter-spacing: 0.045rem;
    transform: translateX(0);
  }
  .header--content-grid article {
   grid-template-columns: repeat(2, 1fr); 
   margin-bottom: 2rem;
  }
  .header--content-grid article p {
    justify-self: start;    
   transform: translateY(2px);
 }
  .header--content-grid article .meta--social-icon {
    justify-self: end;
    transform: translate(-4px, 16px);
  }
}


@media (min-width: 370px) {
  .header {
    /* height: 459px; */
    background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/intUVenus/MekAhStep/IMG-20240714-WA0036_Dr88tAiGv.jpg) center center / cover no-repeat;    
  }
  nav {
      grid-template-columns: repeat(3, 1fr);
  }
  .menu-btn {
    justify-self: right;
  }
  .intu--page-title {
    display: block;
    justify-self: center;
    opacity: .2;
    transform: translateY(2px);	  
  }
}

.form-join {
  position: relative;
  grid-column: full;
  background-color: #ddd;  
  background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/intUVenus/MekAhStep/ivs-img--asset--trav-0499__nuXLdmyCkX.jpg) center top / cover no-repeat;  
  padding-block: 1.75rem;
}

.form-join::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: hsl(0, 0%, 0%, 0.75);
}

.form-join > * {
  position: relative;
  z-index: 1;
}

.form-join h3 {
  font-size: clamp(1.6rem, 5vw, 3.5rem);  
  color: #fafafa;
  text-align: center;
}

form {
  --clr-success: hsl(143, 100%, 26%);
  --clr-warning: hsl(43, 100%, 66%);
  --clr-error: hsl(348, 55%, 49%);
  
  display: grid;
  gap: 0.75rem;
  max-width: 30ch;
  max-width: 150ch;
  width: 80%;
/*   width: 100%; */
  margin: 2rem auto;
/*   outline: 1px solid firebrick; */
}

.form-group {
  display: grid;
  gap: 0.25rem;
}

label {
  font-size: 0.95rem;
  color: #c0c0c0;
}

input,
button {
  font: inherit;
}

input {
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  border: 0;
/*     background-color: hsl(201, 31%, 11%); */
  grid-column: 1 / -1;
}

input {
  outline: 2px solid hsl(var(--glow-hue), 15%, 65%);
}

input:not(:placeholder-shown):valid {
  outline-color: var(--clr-success);
/*   outline-color: hsl(var(--glow-hue) 10% 30%); */
}

input:not(:placeholder-shown):invalid {
  outline-color: var(--clr-error);
}

input:focus:invalid {
  outline-color: var(--clr-warning)
}

.form-group {
  margin-bottom: .75rem;  
}

.form-group:last-of-type {
  margin-bottom: 3rem;
}

button {
  border: 0;
  outline: 0;
  width: 60%;
  margin: 0 auto;
  padding: 8px 2px;
  border-radius: 50px;
}

button:hover {
  cursor: pointer;
}

@media (min-width: 370px) {
  form {
    max-width: 45%;
    width: 70ch;
  }
}

footer {
  position: relative;
/*   bottom: 0;
  width: 100%;
  z-index: 1;
  height: 400px; */
/*   padding-top: 4rem; */
/*   border: 1px solid #c0c0c0; */
}

.footer--container {
  position: relative;
/*   height: 55vh; */
/*   opacity: .6; */
  background-color:hsla(0,4%,9%,1);
/*   background-image: */
/* radial-gradient(at 45% 35%, hsla(117,50%,24%,1) 0px, transparent 50%),
radial-gradient(at 71% 58%, hsla(41,62%,55%,1) 0px, transparent 50%); */
    background: radial-gradient(
      ellipse at right top,
      #ffb74194 0%,
      #151419 47%,
      #151419 100%
    );
    background: radial-gradient(
      ellipse at right top,
      #107667ed 0%,
      #151419 47%,
      #151419 100%
    );
    padding-top: 1rem;
}

.footer--container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

.footer--container .logo {
  padding-inline: 1rem;
}


.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
/*   grid-template-columns: 22rem 1fr; */
  grid-template-columns: 1fr; 
  gap: 10rem;
  gap: 20px;
  align-items: start;
  justify-content: start;
/*   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-columns: 40% repeat(2, 1fr); */
/*   grid-template-columns: 1fr; */
/*   grid-template-rows: max-content max-content; */
  padding: 0 1.2rem;
  margin-bottom: 1.75rem;
/*   border: 1px solid firebrick; */
}

.footer-content > * {
  z-index: 1;
}

.footer-content ul {
  list-style-type: none;
}

.meta--content {
  position: relative;
  width: 100%;
  grid-column: 1 / -1;
/*   border: 1px solid firebrick; */
  margin-bottom: .15rem;
}

/* .meta--content p {
  font-family: 'Sofia Pro';
  font-size: .875rem;
  line-height: 1.1;
  color: hsl(43.8, 0%, 75.3%);
  margin-bottom: 1.3rem;
}
 */
.meta--content p {
  font-family: 'Sofia Pro';
  font-family: 'DM Sans', serif, 'SF Pro Text', 'SF Pro Icons', 'AOS Icons',
      'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.1;
  color: hsl(43.8, 0%, 75.3%);
  width: 66%;
  margin-bottom: 1.3rem;
}

.meta--content-icons {
  display: flex;
/*   justify-content: center; */
  gap: 1.5rem;
}

.link--content {
  position: relative;
  display: flex;
  gap: 2.6rem;
  gap: 1.6rem;
/*   border: 1px solid firebrick; */
/*   grid-row: 2; */
  align-self: center;
  margin-bottom: 1.3rem;
}

.link--content ul li a, 
.article--content ul li a {
  text-decoration: none;
  color: hsl(43.8, 0%, 75.3%);
  transition: color 300ms ease-in-out;
}

.link--content ul li a:hover,
.article--content ul li a:hover {
  color: hsl(42, 62.5%, 55.9%);
}

.footer-content .article--content {
  width: max-content;
  margin-right: 2rem;
  padding-inline: 0;
/*   border: 1px solid firebrick; */
}
 
.footer-content .article--content h3 {
  margin-bottom: .75rem;
  font-size: 1.2rem;
  color: hsl(42, 62.5%, 55.9%);
  text-transform: uppercase;
  letter-spacing: 0.050rem;
}

footer .dev--copyright {
  display: flex;
  align-items: center;
  gap: .25rem;
  font-family: 'Sofia Pro';
  font-size: .75rem;
  color: #fafafa;
  padding: .25rem .6rem;
}

@media (min-width: 720px) {
  .footer-content {
    grid-template-columns: repeat(8, 1fr);
  }
  .meta--content p {
    width: 360px;
  }
  .meta--content {
    grid-column: 1 / 5;
  }
  
  .link--content {
    grid-column: 5 / 8;
  }
}


/* Mobile Device Menu Setting */

.mbl--list-items {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 25% 0;
  align-items: center;
  z-index: 5;
  transform: translateX(100%);
/*   background-color: hsla(222, 23%, 20%, 4); */
}

.mbl--list-items li {
  text-align: left;
  font-size: clamp(.85rem, (1.2rem + 2vw), 3.5rem);
  line-height: 1;
  color: hsl(43.8, 0%, 85.4%);
 }

.mbl--list-items li a {
  text-decoration: none;
  color: inherit;
  color: currentColor;
  transition: color .3s ease-in-out;
}

.mbl--list-items li a:hover {
  color: var(--clr-intu-gold-1);  
}

.mbl--list-items.showing {
  animation: menuSliderAction 300ms linear forwards;
/*   transform: translateX(0);   */
}

.mlb--list-items > * {
  z-index: 1;
}

.mbl--list-items::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(40, 47, 64, .9);
  background-color: hsla(113, 61%, 16%, .9);
  background-color: hsla(222, 23%, 20%, .9);
  z-index: -1;
}


@container content-grid (min-width: 512px) {
  article {
    padding: 0 1.5rem;
  }
  .header--content-grid article.title--header h2 {
    justify-self: start;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    letter-spacing: 0.045rem;
    transform: translateX(0);
  }
  .header--content-grid article {
   grid-template-columns: repeat(2, 1fr); 
   margin-bottom: 2rem;
  }
  .header--content-grid article p {
    justify-self: start;    
   transform: translateY(2px);
 }
  .header--content-grid article .meta--social-icon {
    justify-self: end;
    transform: translate(-4px, 16px);
  }
}

@media (min-width: 370px) {
  .header {
/*     height: 459px; */
    background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/intUVenus/MekAhStep/IMG-20240714-WA0036_Dr88tAiGv.jpg) center center / cover no-repeat;    
/*     background-image: url(https://ik.imagekit.io/ghow2otb3rc/Projects/intUVenus/MekAhStep/IMG-20240714-WA0036_Dr88tAiGv.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
/*     background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/intUVenus/MekAhStep/ivs-img--asset--trav-0499__nuXLdmyCkX.jpg) center center / cover no-repeat;     */ */
  }
  nav {
      grid-template-columns: repeat(3, 1fr);
  }
  .menu-btn {
    justify-self: right;
  }
  .intu--page-title {
    display: block;
    justify-self: center;
    opacity: .3;
  }
}

@media (min-width: 720px) {
  .footer-content {
    grid-template-columns: repeat(8, 1fr);
  }
  .meta--content p {
    width: 360px;
  }
  .meta--content {
    grid-column: 1 / 5;
  }
  
  .link--content {
    grid-column: 5 / 8;
  }
}

@keyframes moveHeaderUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menuSliderAction {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes menuSliderOutAction {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
