@import url('https://api.fonts.coollabs.io/css2?family=Jockey+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/sofia-pro');


* {
  margin: 0;
  padding: 0
}

:root {
  --clr-intu-gold-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-gold-2: hsl(42, 62.5%, 55.9%);
  --clr-intu-gold-3: hsl(42, 62.5%, 62.6%);
  --clr-intu-green-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-main-1: hsl(42, 62.5%, 39.2%);
}

body {
/*   padding: 3.5rem 0; */
  font-family: 'Jockey One';
}


nav {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px;
  padding: 10px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  justify-self: left;
  margin-right: .75rem;
  /* padding-left: 1.45rem; */
/*   padding-left: .25rem; /* At 320px viewport width */
/*   padding-left: 0.015625vw; */
/*   border: 1px solid black; */
}

.logo-text {
  font-size: 1.5rem;
  /* color: var(--clr-intu-gold-1); */
  color: var(--clr-intu-accent-1);
/* background-image: linear-gradient( to bottom, #000 10%, hsla(244.9,100%,26.3%, .6));    color: #fff;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
/*   grid-columns: 3 / -1; */
  width: 40px;
  height: 40px;
  justify-self: right;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn__burger {
  width: 20px;
  height: 2px;
  background: #fff;
  background: hsl(42, 62.5%, 39.2%);
  background: var(--clr-intu-accent-1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before, 
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #fff;
  background: hsl(42, 62.5%, 39.2%);
  background: var(--clr-intu-accent-1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out; 
}

.menu-btn__burger::before {
  transform: translateY(-6px);
}

.menu-btn__burger::after {
  transform: translateY(6px);
}

/* Animation Phase */

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}


.header {
  position: relative;
  display: grid;
  container: main / inline-size;
/*   height: 50vh; */
	height: 410px;
  height: 380px;/*   height: 500px; */
  background-image: url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/hqv-intuvenus_rKa4kU9hy_pjBZsxYZ40.jpg);
  background-position: center -90px;
  background-position: 47.5% center;
  background-size: 280%;
  background-repeat: no-repeat;
}

.header::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.8) 90%);
}

.progress--bar {
/*   content: ''; */
  position: fixed;
  height: 3px;
  width: 0;
  top: 0;
  inset: 0;
  background-color: var(--clr-intu-gold-1);
}

.header > * {
  z-index: 1;
  padding: 0 1rem;
}

.header .header--content-grid {
  display: grid;
  container: content-grid / inline-size;
}

.header--content-grid > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0 1rem;  
}

.header--content-grid article.title--header {
  display: grid;
  grid-template-columns: 1fr;
  align-self: start;
/*   border: 1px solid firebrick; */
}

.header--content-grid article.title--header h2 {
  font-family: 'Jockey One';
  font-size: clamp(1.90rem, 5vw, 4.5rem);
  line-height: 1;
  color: hsl(45, 28.6%, 97.3%);
  margin-top: 2rem;
  text-transform: uppercase;
  justify-self: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.015rem;
  transform: translateX(-22px);
}

.header--content-grid article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 1fr;
  color: #000;
  font-family: 'Jockey One';
  font-size: 32px; 
  align-self: end;
  margin-bottom: 2rem;
}

.header--content-grid article p {
  width: 40ch;
  color: hsl(45, 28.6%, 97.3%);
  font-size: 1.45rem;
  font-size: 1rem;
  font-size: clamp(.9rem, 3vw, 1.15rem);
  line-height: 1.1;
  justify-self: center;
  align-self: end;
  transform: translate(-18px, 20px);
}

.header--content-grid article .meta--social-icon {
  justify-self: center;
  transform: translateX(-22px);
}
/* 
.header--content-grid > * {
  z-index: 2;
} */

.article--content {
  position: relative;
  padding: 2.15rem;
  padding: 1.5rem 1rem;
}

.article--content h2 {
  font-size: clamp(1.3rem, 5vw, 3.5rem);
  margin-bottom: 2rem;
  transform: translateY(100%);
  opacity: 0;
  text-align: center;
  line-height: 1.1;
  animation: moveHeaderUp 1s linear forwards;
}

.content--sub-hdr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 5rem;
}

.article--content h3 {
  font-size: .85rem;
  grid-column: 1 / -1;
  color: green;
}

.article--content p {
  font-family: 'work-sans', sans-serif;
  font-family: 'noto-sans', sans-serif;
  font-weight: 500;
  font-size: .85rem;
}

footer {
/*   padding-top: 4rem; */
  border: 1px solid #c0c0c0;
}

.footer--container {
  position: relative;
  height: 55vh;
/*   opacity: .6; */
background-color:hsla(0,4%,9%,1);
background-image:
radial-gradient(at 45% 35%, hsla(117,50%,24%,1) 0px, transparent 50%),
radial-gradient(at 71% 58%, hsla(41,62%,55%,1) 0px, transparent 50%);
  padding-top:2rem;
/*   border: 1px solid #c0c0c0; */
}

.footer--container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

/* Mobile Device Menu Setting */

.mbl--list-items {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 25% 0;
  align-items: center;
  z-index: 5;
  transform: translateX(100%);
/*   background-color: hsla(222, 23%, 20%, 4); */
}

.mbl--list-items li {
  text-align: left;
  font-size: clamp(.85rem, (1.2rem + 2vw), 3.5rem);
  line-height: 1;
  color: hsl(43.8, 0%, 85.4%);
 }

.mbl--list-items li a {
  text-decoration: none;
  color: inherit;
  color: currentColor;
  transition: color .3s ease-in-out;
}

.mbl--list-items li a:hover {
  color: var(--clr-intu-gold-1);  
}

.mbl--list-items.showing {
  animation: menuSliderAction 300ms linear forwards;
/*   transform: translateX(0);   */
}

.mlb--list-items > * {
  z-index: 1;
}

.mbl--list-items::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(40, 47, 64, .9);
  background-color: hsla(113, 61%, 16%, .9);
  background-color: hsla(222, 23%, 20%, .9);
  z-index: -1;
}


@container (min-width: 324px) {
  .header--content-grid article.title--header h2 {
    transform: translateX(30px);  
  }
  .header--content-grid article p {
    transform: translate(-2px, 20px);
  }
  .header--content-grid article .meta--social-icon {
    transform: translateX(0);
  }
}

@container content-grid (min-width: 512px) {
  .header--content-grid article.title--header h2 {
    justify-self: start;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    letter-spacing: 0.045rem;
    transform: translateX(0);
  }
  .header--content-grid article {
   grid-template-columns: repeat(2, 1fr); 
  }
  .header--content-grid article p {
    justify-self: start;    
   transform: translateY(2px);
 }
  .header--content-grid article .meta--social-icon {
    justify-self: end
  }
}


@media (min-width: 360px) {
  .header {
    height: 459px;
    background: url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/hqv-intuvenus_rKa4kU9hy_pjBZsxYZ40.jpg) center center / cover no-repeat;    
  }
  nav {
      grid-template-columns: repeat(3, 1fr);
  }
  .menu-btn {
    justify-self: right;
  }
  .intu--page-title {
    display: block;
    justify-self: center;
    opacity: .7;
  }
}


@keyframes moveHeaderUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menuSliderAction {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
