@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/sofia-pro');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://api.fonts.coollabs.io/css2?family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/reddit-sans-condensed');
@import url('https://fonts.cdnfonts.com/css/proxima-nova');

* {
  margin: 0;
  padding: 0;
}

*, 
::before, 
::after {
  box-sizing: border-box;
}

:root {
  --gap: 2rem;
  --light-blue: hsl(183, 100%, 81%);
  --clr-intu-gold-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-gold-2: hsl(42, 62.5%, 55.9%);
  --clr-intu-gold-3: hsl(42, 62.5%, 62.6%);
  --clr-intu-green-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-main-1: hsl(42, 62.5%, 39.2%);
  --clr-intu-accent-1: hsl(42, 62.5%, 55.9%);
  --space: 1rem;
  --space-md: calc(var(--space) * 2);
  --content-max-width: 60ch;
  --clr-text-light: hsl(0,0%,75.3%); /* Hex Value - #c0c0c0; */
}

body {
/*   padding: 3.5rem 0; */
  font-family: 'Jockey One';
}

body {
  background: hsl(256, 100%, 10%);
  background: #0C0C0C;
  color: #c0c0c0;
/*   font-family: 'poppins'; */
}

a {
  text-decoration: none;
  color: currentColor;
}

h4 {
  font-family: "raleway", sans-serif;
/*   font-family: 'Reddit Sans Condensed', sans-serif; */
  font-weight: 300;
  font-size: 2rem;
}
.main__navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: .35rem 0.75rem;
  align-items: center;
  display: none;
}

.logo--text p {
  color: hsl(42, 62.5%, 55.9%);
  font-family: 'Jockey One';
  font-size: 1.2rem;
  font-weight: 700;
}

.logo--img__cont {
  grid-column: 2;
  width: 50px;
/*   border: 1px solid firebrick; */
  justify-self: center;
}

.logo--img__cont img {
  max-width: 100%;
  height: auto;
  opacity: 0;
}

.binUUT {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: var(--text-base);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-normal);
    background: transparent;
    color: inherit;
    border: none;
    box-shadow: none;
}

.veALn {
    font: var(--font-weight-regular) 16px Inter Tight;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #0C0C0C;
    width: fit-content;
    height: 40px;
    display: flex;
    background: hsl(42, 62.5%, 55.9%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    align-items: center;
    padding-left: 16px;
    border-radius: 6px;
    padding-right: 16px;
    justify-content: center;
}

/* The progress container (grey background) */
.progress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  z-index: 100;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 2px;
  background: #fab800;
  width: 0%;
}

.progress--bar {
/*   content: ''; */
  position: fixed;
  height: 3px;
  width: 0;
  top: 0;
  inset: 0;
  background-color: var(--clr-intu-gold-1);
}

header.-hidden {
  transform: translateY(-100%);
}

.headerDown {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  backdrop-filter: blur(12px);
}

.intuvenus--header {
/*   background-color: #00020e;
  background-color: rgba(0, 2, 14, .55); */
/*   border-bottom: .025rem solid #b9661f; */
  -webkit-transition: -webkit-transform 500ms ease-out;
  background: transparent;
  backdrop-filter: blur(12px);
  /* transition: -webkit-transform 500ms ease-out; */
  /* transition: transform 500ms ease-out; */
  transition: transform 500ms ease-out, -webkit-transform 500ms ease-out;
}

nav {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: 50px;
/*   padding: 5px; */
  align-items: center;
  justify-content: space-between;
}

.logo {
  justify-self: left;
  margin-left: .75rem;
/*   padding-left: 1.45rem; */
/*   padding-left: .25rem; /* At 320px viewport width */
/*   padding-left: 0.015625vw; */
/*   border: 1px solid black; */
}

.logo-text {
  font-family: 'Jockey One';
  font-size: 1.2rem;
  color: var(--clr-intu-gold-1);
  color: var(--clr-intu-accent-1);
/* background-image: linear-gradient( to bottom, #000 10%, hsla(244.9,100%,26.3%, .6));    color: #fff;
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
}

[aria-pressed=true] path:nth-of-type(1) {
  display: none;
}

[aria-pressed=false] path:nth-of-type(2) {
  display: none;
}

nav svg {
  width: 40px;
  position: absolute;
  right: 4px;
  top: -1px;
  height: 40px;
  scale: 1.5 1.5;
  transform-origin: 100% 100%;
  rotate: 25deg;
  fill: canvasText;
  fill: hsl(42, 62.5%, 39.2%);
  translate: 18% 16%;
  margin-right: 16px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[aria-pressed] {
  position: absolute;
  top: 1rem;
  top: 0.70rem;
  right: 2.83rem;
  width: 28px;
  aspect-ratio: 1;
  padding: 0;
  border: 0;
  margin: 0;
  display: grid;
  place-items: center;
  border-radius: 4px;
  transition: background 0.2;
  cursor: pointer;
  background-color: color-mix(in lch, canvas, canvasText calc(var(--intent) * 15%));
/*   border: 1px solid firebrick; */
}

button svg {
  width: 50%;
}

button:is(:focus-visible, :hover) {
  --intent: 1;
}

.menu-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
/*   grid-columns: 3 / -1; */
  width: 40px;
  height: 40px;
  justify-self: right;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.menu-btn__burger {
  width: 20px;
  height: 2px;
  background: #fff;
  background: hsl(42, 62.5%, 39.2%);
  background: var(--clr-intu-accent-1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}

/* .menu-btn__burger {
  width: 30px;
  height: 2px;
  background: #fff;
  background: hsl(42, 62.5%, 39.2%);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
 */
.menu-btn__burger::before, 
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #fff;
  background: hsl(42, 62.5%, 39.2%);
  background: var(--clr-intu-accent-1);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out; 
}

.menu-btn__burger::before {
  transform: translateY(-6px);
}

.menu-btn__burger::after {
  transform: translateY(6px);
}

/* Animation Phase */

.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.intu--page-title {
  display: block;
  justify-self: center;
  opacity: .23;
}


.opl--img-wrapper {
/*   border: 1px solid firebrick; */
  width: 100%;
  position: relative;
/*   max-width: 1000px; */
  margin: 0 auto;
  background: linear-gradient(to top, #000, transparent);
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 85%);
  mask-image: linear-gradient(to top, transparent 5%, black 55%);
  overflow: hidden;
}

.opl--img-wrapper img {
  position: relative;
/*   inset: 0; */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  /* aspect-ratio: 16 / 10; */
  aspect-ratio: 4 / 3;
  object-fit: cover;
  grid-row: 1 / 2;
  scale: 1.25;
  transform: translate3d(0, -4px, 0);
 /*  scale: 359%;
  object-position: center -140px; */
/*   filter: blur(12px);
  scale: 2.2; */
/*   z-index: 1; */
}

.opl--img-wrapper::after {
  position: absolute;
  inset: 0;
/*   top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
/*   background: linear-gradient(to top, #000, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent 5%, black 95%);
  mask-image: linear-gradient(to bottom, transparent 15%, black 85%); */
}

.me--site-title {
  position: absolute;
/*   text-align: center; */
  font-size: clamp(2rem, 4vw + 0.3rem, 3.2rem);
  z-index: 1;
  padding: 2rem 0;
}

.me--site-title h2 {
  display: grid;
  font-family: 'Jockey One';
  line-height: 1;
  color: #fafafa;
  text-transform: uppercase;
  margin-left: 1.5rem;
  z-index: 10;
}

.main--content {
  display: grid;
  row-gap: 1lh;
  grid-template-columns:
      [full-start] calc(var(--gap) / 2)
      [margin-start] minmax(0, 1fr)
      [wide-start] clamp(0, 10vi - 30px, 6em)
      [content-start] minmax(auto, 18em) [center]
      minmax(auto, 6em) [content-end] 
      clamp(0, 10vi - 30px, 6em) [wide-end] 
      minmax(0, 1fr) [margin-end] 
      calc(var(--gap) / 2) [full-end];
  margin-bottom: calc(var(--gap) * 2.5);
  /*outline: 1px solid firebrick;*/
}

.main--content h2 {
  grid-column: margin / center;
  font-size: clamp(1.53rem, 5vw, 3.5rem);
  line-height: 1;
  /*color: hsl(42, 62.5%, 55.9%);*/
  /*color: hsl(0, 0%, 98%);*/
  color: #000;
/*   font-size: 3.775rem; */
  margin-bottom: 2rem;
  margin-inline-end: var(--gap); 
}

.main--sub-hdr {
  grid-column: center / full;
  place-self: start end;
  line-height: 1.2;
  padding-inline-start: 0;
  margin-inline-end: calc(var(--gap) / 2);
  padding-top: .5em;
  text-align: left;
  letter-spacing: 0.025rem;
  /*outline: 1px solid firebrick;*/
}

.main--sub-hdr h3 {
  font-family: "raleway", sans-serif;
  font-size: .805rem;
  font-weight: 200;
  color: var(--clr-text-light);
}

@media (max-width: 568px) {
  .main--content h2 {
    grid-column: margin;
    margin: 0;
    text-align: center;
  }
}

@media (max-width: 498px) {
  .main--sub-hdr {
    grid-column: content;
    padding-top: 10px;
    padding-inline-start: calc(var(--gap) * 4);
    margin-inline-end: 0; 
  }  
}

@media (width > 1024px) {
  .main--content {
    margin-inline: 4rem;
  }
}

.content--sub-hdr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 5rem;
}

.main--story {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1.15rem;
  margin-top: -30px;
}

.main--story h2, 
.main--story h4 {
/*   text-align: center; */
  position: relative;
  margin-bottom: 6rem;
}

.main--story h4::after {
  position: absolute;
  content: attr(data-caption-text);
  top: 73%;
  left: 105px;
  left: 90px;
  font-size: .515rem;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  transform: translate3d(5px, 0, 0);
  animation: titleFadeIn 1.2s ease-in-out 2.8s forwards;
}

@media (min-width: 451px) {
  .main--story h4::after {
    top: 90%;
    left: 280px;
  }
}

.main--story p {
/*   width: 80ch; */
  grid-column: 1;
  font-family: 'Proxima Nova';
  margin: 0 auto;
  margin-bottom: 2rem;
}

.rtl {
  direction: rtl;
}

.container {
  display: grid;
  grid-template-columns:
    1fr
    min(76ch, 100%)
    1fr; 
/*   border: 1px solid #c0c0c0; */
  padding: 0 1.45rem;
  margin-bottom: 2rem;
}

.container > * {
  grid-column: 2;
}

.container h1 {
    font-family: "raleway", sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: lowercase;
}

.container p {
  /*font-family: 'Sofia Pro', sans-serif;*/
  font-family: "DM Sans", serif, "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
  font-size: .925rem;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 1.2rem;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

.modal--whole-wrapper {
  padding-block-start: 1.15rem;    
}

main {
  margin-block: 6rem;
}

.content {
  display: grid;
  grid-template-columns:
    [full-start] 1fr
    [content-start]
    min(var(--content-max-width), 100% - var(--space-md) * 2)
    [content-end]
    1fr [full-end];  
}

.content > * {
  grid-column: content;
}

.content > * + * {
  margin-block-start: var(--space);
}

.content p {
  grid-column: full;
  padding: 1.5rem;
  font-family: 'Proxima Nova';
}

.gallery {
  grid-column: full;
  display: grid;
  grid-template-columns: inherit;
  padding-block: var(--space-md);
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scrollbar-width: none;
/*   outline: 1px solid firebrick; */
}

.gallery::-webkit-scrollbar {
  inline-size: 0 !important;
  display: none;
}

.gallery .wrapper {
  grid-column: content;
  display: flex;
  align-items: center;
  gap: var(--space);
}

.gallery .wrapper::after {
  content: "";
  align-self: stretch;
  padding-inline-end: max(
    var(--space),
    (100vw - var(--content-max-width)) / 2 - var(--space)
  );
}

.gallery .item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
  inline-size: 100%;
  max-inline-size: 25rem;
  aspect-ratio: 16 / 9;
  font-size: 2rem;
  background: hotpink;
  border-radius: 4px;
  overflow: hidden;
}

.gallery.alt-sizes .item.lg {
  max-inline-size: 35rem;
}

.gallery.alt-sizes .item.sm {
  max-inline-size: 15rem;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery .item:nth-of-type(6) img {
  object-position: top center;
}

@supports not (aspect-ratio: 1) {
  .gallery .item::before {
    float: left;
    padding-top: 56.25%;
    content: "";
  }

  .gallery .item::after {
    display: block;
    content: "";
    clear: both;
  }
}


/* Photo Gallery */

.gallery-container {
  position: relative;
  padding: 0 1rem;
  display: grid;
  grid-template-columns:
    [main-start]
    1fr
    [main-end];
}

.main {
  grid-column: main;
  padding: 1.25rem;
}


.full--gallery-main h1 {
  font-family: "raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: lowercase;
}

/* Photo Gallery */
.full--gallery-main .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7.5rem, 1fr));
  grid-auto-rows: 12.5rem;
  grid-auto-flow: dense;
  gap: 0.75rem;
}

.full--gallery-main .gallery figure {
  /* container-type: inline-size; */
  container: figure / inline-size;
  overflow: hidden;

  display: grid;
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: 1fr; */

  /*
    Because 1fr = minmax(auto, 1fr),
    to prevent the grid blowout,
    set the minimum to zero.
  */
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
}

.full--gallery-main .gallery img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
  
  /* grid-row: 1 / -1; */
  /* grid-column: 1 / -1; */
  grid-area: 1 / 1 / -1 / -1;
  border-radius: 4px;
/*   border: 1px solid firebrick; */
/*   transition: scale 1s ease-in-out; */
}
/* 
.full--gallery-main .gallery figure:hover img {
  scale: 1.125;
}
 */
.full--gallery-main .gallery figcaption {
  grid-area: 1 / 1 / -1 / -1;
  align-self: end;
  z-index: 1;

  padding: 3em 15% 1em 1em;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.3;
  background: linear-gradient(transparent 25%, rgb(0 0 0 / 0.75));
  display: none;
}

.full--gallery-main .gallery img:nth-last-of-type(-n+3) {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .15);
  outline: 1px solid firebrick;
}

@container figure (width > 20rem) {
  .gallery figcaption {
    display: block;
  }
}

.full--gallery-main .gallery figcaption h3 {
  font-size: 1.0625rem;
}

.full--gallery-main .gallery figcaption p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (width > 320px) {
  .full--gallery-main .gallery figure:nth-child(1) {
/*     grid-area: span 2 / span 2; */
  }

  .full--gallery-main .gallery figure:nth-child(4n + 1) {
    grid-row: span 2;
  }

  .full--gallery-main .gallery figure:nth-child(4n + 2) {
    grid-column: span 2;
  }
}

@media (width > 600px) {
  .gallery-container {
    padding: 0 4rem;
  }
  .full--gallery-main .gallery figure:nth-child(1) {
    grid-area: span 2 / span 2;
  }
}


footer {
  position: relative;
/*   bottom: 0;
  width: 100%;
  z-index: 1;
  height: 400px; */
/*   padding-top: 4rem; */
/*   border: 1px solid #c0c0c0; */
}

.footer--container {
  position: relative;
/*   height: 55vh; */
/*   opacity: .6; */
  background-color:hsla(0,4%,9%,1);
/*   background-image: */
/* radial-gradient(at 45% 35%, hsla(117,50%,24%,1) 0px, transparent 50%),
radial-gradient(at 71% 58%, hsla(41,62%,55%,1) 0px, transparent 50%); */
    background: radial-gradient(
      ellipse at right top,
      #ffb74194 0%,
      #151419 47%,
      #151419 100%
    );
    background: radial-gradient(
      ellipse at right top,
      #107667ed 0%,
      #151419 47%,
      #151419 100%
    );
    padding-top: 1rem;
}

.footer--container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
}

.footer--container .logo {
  padding-inline: .5rem;
}


.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
/*   grid-template-columns: 22rem 1fr; */
  grid-template-columns: 1fr; 
  gap: 10rem;
  gap: 20px;
  align-items: start;
  justify-content: start;
/*   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-columns: 40% repeat(2, 1fr); */
/*   grid-template-columns: 1fr; */
/*   grid-template-rows: max-content max-content; */
  padding: 0 1.2rem;
  margin-bottom: 1.75rem;
/*   border: 1px solid firebrick; */
}

.footer-content > * {
  z-index: 1;
/*   border: 1px solid firebrick; */
}

.footer-content ul {
  list-style-type: none;
}

.meta--content {
  position: relative;
  width: 100%;
  grid-column: 1 / -1;
  margin-bottom: 1rem;
/*   overflow: hidden; */
}

/* .meta--content p {
  font-family: 'Sofia Pro';
  font-size: .875rem;
  line-height: 1.1;
  color: hsl(43.8, 0%, 75.3%);
  margin-bottom: 1.3rem;
}
 */
.meta--content p {
  font-family: 'Sofia Pro';
  font-family: 'DM Sans', serif, 'SF Pro Text', 'SF Pro Icons', 'AOS Icons',
      'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.1;
  color: hsl(43.8, 0%, 75.3%);
  width: 90%;
  max-width: 100%;
/*   display: none; */
  margin-bottom: 1.3rem;
}

.meta--content-icons {
  display: flex;
/*   justify-content: center; */
  gap: 1.5rem;
}

.link--content {
  position: relative;
  display: flex;
  gap: 2.6rem;
  gap: 1.6rem;
/*   border: 1px solid firebrick; */
/*   grid-row: 2; */
  align-self: center;
}

.link--content ul li a, 
.article--content ul li a {
  text-decoration: none;
  color: hsl(43.8, 0%, 75.3%);
  transition: color 300ms ease-in-out;
}

.article--content ul li a {
  font-size: 0.88rem;
}

.link--content ul li a:hover,
.article--content ul li a:hover {
  color: hsl(42, 62.5%, 55.9%);
}

.footer-content .article--content {
  width: max-content;
  margin-right: 2rem;
  padding-inline: 0;
/*   border: 1px solid firebrick; */
}
 
.footer-content .article--content h3 {
  margin-bottom: .75rem;
  font-size: 1.2rem;
  color: hsl(42, 62.5%, 55.9%);
  text-transform: uppercase;
  letter-spacing: 0.050rem;
}

footer .dev--copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  font-family: 'DM Sans', serif, 'SF Pro Text', 'SF Pro Icons', 'AOS Icons',
      'Helvetica Neue', Helvetica, Arial, sans-serif, system-ui;  
  font-size: .65rem;
  color: hsl(0, 0%, 75%);
  padding: .25rem .6rem;
}

@media (min-width: 720px) {
  .footer-content {
    grid-template-columns: repeat(8, 1fr);
  }
  .meta--content p {
    width: 360px;
  }
  .meta--content {
    grid-column: 1 / 5;
  }
  
  .link--content {
    grid-column: 5 / 8;
  }
}
/* 
@container content-grid (min-width: 324px) {
  .header--content-grid article.title--header h2 {
    transform: translateX(30px);  
  }
  .header--content-grid article p {
    transform: translate(-2px, 20px);
  }
  .header--content-grid article .meta--social-icon {
    transform: translateX(0);
    transform: translateY(30px);
  }
}
 */


/* Mobile Device Menu Setting */

.mbl--list-items {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 25% 0;
  align-items: center;
  z-index: 5;
  /* transform: translateX(100%); */
  transform: translate3d(100%, 0, 0);
 /* animation: menuSliderOutAction 300ms linear forwards; */
  transition: transform 0.65s ease-in-out;
/*   background-color: hsla(222, 23%, 20%, 4); */
}

.mbl--list-items li {
  text-align: left;
  font-size: clamp(.85rem, (1.2rem + 2vw), 3.5rem);
  line-height: 1;
  color: hsl(43.8, 0%, 85.4%);
 }

.mbl--list-items li a {
  text-decoration: none;
  color: inherit;
  color: currentColor;
  transition: color .3s ease-in-out;
}

.mbl--list-items li a:hover {
  color: var(--clr-intu-gold-1);  
}

.mbl--list-items.showing {
  /* animation: menuSliderAction 300ms linear forwards; */
  transform: translate3d(0, 0, 0);
}

.mlb--list-items > * {
  z-index: 1;
}

.mbl--list-items::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(40, 47, 64, .9);
  background-color: hsla(113, 61%, 16%, .9);
  background-color: hsla(222, 23%, 20%, .9);
  z-index: -1;
}

.int--v-blockquote {
  width: 100%;
  height: 480px;
  position: relative;
  margin: 0 auto;
  aspect-ratio: 16 / 10;
  background-image:url(https://ik.imagekit.io/ghow2otb3rc/Projects/SoM/Artists/hvq--prof-img-C0_152401__GYPzF8Tdd.jpg);
  background-size: 200%;
  background-position: center;
  -webkit-mask-image: linear-gradient(to top, transparent 8%, black 75%);
  /*
  mask-image: linear-gradient( 
    transparent 5%, 
    rgba(0 0 0 / 0.75) 35%, 
    transparent 5%
  );
  */
  mask-image: linear-gradient(180deg,rgba(42, 123, 155, 0.02) 2%, rgba(1, 13, 9, 1)34%, rgba(10, 0, 0, 1) 60%, rgba(237, 221, 83, 0) 90%);
  overflow: hidden;
  /*background-attachment: fixed;*/
  /*grid-column: full;*/
  margin-block-start: 8rem;
}

.int--v-blockquote::after {
  position: absolute;
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
  background: hsl(276 100% 30% / .7);
  /*mask-image: linear-gradient(180deg,rgba(42, 123, 155, 0.02) 2%, rgba(1, 13, 9, 1) 24%, rgba(10, 0, 0, 1) 40%, rgba(237, 221, 83, 0) 90%);*/
}

.int--v-quote {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate3d(-50%, -25%, 0);
  font-size: clamp(1.6rem, 0.749rem + 3.781vw, 3.5rem);
  color: #fafafa;;
  line-height: .9;
  z-index: 1;
}

.int--v-quote h2::before {
    position: absolute;
    content: "\201C";
    left: -40px;
    top: -38px;
    font-size: 148px;
    color: #fff;
    opacity: .4;
}


@keyframes titleFadeIn {
  to {  
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }  
}
